NODE_ENV=development
PORT=3000
DB_HOST=db
DB_PORT=5432
DB_NAME=eventos_academicos
DB_USER=postgre
DB_PASSWORD=2850
SESSION_SECRET=
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
APP_URL=http://localhost:3000